

body{
    margin: 0px;
    padding: 0px;
background-image: url(58.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: cursive;
   
    
    
}
h1{
    font-size: 40px;
    color: gray;

    margin-top: 20px;
    margin-bottom: 30px;
    
}
.label{
    
    font-size: 20px;
    font-weight: normal;
margin-top: 20px;
    color: antiquewhite;
    
}
.form-control{
    background: rgba(255,255,255,0.2);
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid white;
    font-size: 21px;
}
small{
    font-size: 18px;
    color: grey;
}
option{
    color: #666;
    
}
.btn-info{

    margin-top: 30px;
    margin-left: 150px;
    width: 180px;
    font-size: 19px;
    border-radius: 1000px;
    
}
.col-md-6{
    
    background:rgba(0,0,0,0.4);
    height: 900px;
    box-shadow: -1px 1px 60px 10px black inset;
    margin: 0px;
    padding: 0px;
    left: 50px;
}
.container{
    margin: 0px;
    padding: 0px;
    
}
.col-md-3{
    margin: 0px;
    padding: 0px;
    top:40px;
    
}
.col-md-9{
    margin: 0px;
    padding: 0px;
    left: 115px;
    
    
}
